{% load static %}

<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cristiano Ronaldo - portugalský fotbalista</title>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
</head>

<body id="home">
    <nav id="navbar">
        <div id="logo">
            <a href="index.html">
                <i class="fas fa-fire"></i>
                Cristiano Ronaldo
                <span class="text-primary">fotbalista</span>
            </a>
        </div>
        <ul>
            <li><a href="#home"><i class="fa-solid fa-house"></i></a></li>
            <li><a href="#trofeje">Trofeje</a></li>
            <li><a href="#what">Životopis</a></li>
            <li><a href="#what">Kluby</a></li>
            <li><a href="#zdroj">Zdroje</a></li>
            <li><a href="form.html">Formulář</a></li>
        </ul>
    </nav>
    <div id="showcase">
        <div class="showcase-content">
            <h1 class="1-heading">Fotbalista</h1>
            <p class="lead">Kariéra portugalského fotbalisty</p>
            <a href="#what" class="btn">Více informací</a>
        </div>
        <p class="lead"></p>
    </div>
    <section id="what" class="bg-light py-1">
        <div class="container"></div>
        <h2 class="m-heading text-center">
            <span class="text-primary">O</span>
            fotbalistovi
        </h2>
        <div class="items">
            <div class="item">
                <i class="fa-solid fa-bars"></i>
                <div>
                    <h3>Životopis</h3>
                    <p>Cristiano Ronaldo dos Santos Aveiro je portugalský fotbalista, útočník saúdskoarabského klubu
                        Al-Nassr FC a kapitán portugalské reprezentance, s níž vyhrál Mistrovství Evropy 2016 a
                        premiérový ročník Ligy národů 2018/2019. Jeho datum narození je 5. února 1985.

                    </p>
                </div>

            </div>
            <div class="item">
                <i class="fa-solid fa-earth-americas"></i>
                <div>
                    <h3>Kluby</h3>
                    <p>První klub ve kterém Cristiano Ronaldo hrál byl Sporting CP. Odtud zamířil do Anglického klubu
                        Manchester United a dále pokračoval do Realu Madrid, Juventusu, odtud zpátky do Manchesteru
                        United a nyní hraje v Saudskoarabském klubu Al-Nassr.

                    </p>
                </div>

            </div>
            <div class="item">
                <i class="fa-solid fa-award"></i>
                <div>
                    <h3>Trofeje</h3>
                    <p>Ronaldo má ve sbírce téměř všechny důležité trofeje. Vyhrál anglickou i španělskou ligu, všechny
                        možné domácí poháry, třikrát Ligu mistrů, Superpohár, mistrovství Evropy, individuální ocenění
                        Zlatý míč nebo ceny FIFA. Jeden pohár mu avšak chybí a to mistrovstí.

                    </p>
                </div>

            </div>
        </div>

        <div class="trofeje"></div>
        <h2 class="t-he text-center">
            <span class="text-trofeje">Trofeje</span>
        </h2>
    
        </section>

        <div id="trofeje">
            <div class="trofeje-content">   
            </div>
            <p class="lead"></p>
        </div>

        <div class="trofeje"></div>
        <h3 class="t-he text-center">
            <span class="text-trofeje">Počet trofejí</span>
        </h3>
    
        <div class="tabulka">
        <table>
        <tbody>
          <tr>
            <td>Trofej</td>
            <td>Počet</td>
            <td>Rok</td>
          </tr>
          <tr>
            <td>Zlatý míč</td>
            <td>5</td>
            <td>2008, 2013, 2014, 2016, 2017</td>
          </tr>
          <tr>
            <td>Puskas</td>
            <td>1</td>
            <td>2009</td>
          </tr>
          <tr>
            <td>Euro</td>
            <td>1</td>
            <td>2016</td>
          </tr>
          <tr>
            <td>Liga Mistrů</td>
            <td>5</td>
            <td>2007/08, 2013/14, 2015/16,<br>2016/17, 2017/18</td>
          </tr>
          <tr>
            <td>Premier league</td>
            <td>3</td>
            <td>2006/07, 2007/08, 2008/9</td>
          </tr>
          <tr>
            <td>Zlatá kopačka</td>
            <td>4</td>
            <td>2007/08, 2010/11, 2013/14,<br>2014/15</td>
          </tr>
          <tr>
            <td>Supercopa de Espana</td>
            <td>2</td>
            <td>2012, 2017</td>
          </tr>
        </tbody>
        </table>
    </div>
    

    <div id="zdroj">
        <ol>
            <li>
                Zdroje:
                <a href="https://cs.wikipedia.org/wiki/Cristiano_Ronaldo">Wikipedia</a>
            </li>
        </ol>
    </div>


    



    <footer id="main-footer" class="bg-dark text-center py-1">
        <div class="container">
            <p>Copyright &copy; 2023, OA Opava</p>

        </div>

    </footer>

    




</body>

</html>